html, body {
    background-color: #595959;
    font-size: 16px;
    font-family: monospace;
    height: 100%;
}
/* header section */
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
/* gallery section */

.delete_post {
    text-decoration: none;
}
.container h2 {
    color: white;
}
.container {
    margin: 0% auto;
    height: 90%;
    width: 90%;
}

.pagination {
    margin: 0% auto;
    height: 30px;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #333333;
    color: #777;
}

.pagination a:hover:not( .active ) {
    background-color: #737373;
}

.gallery {
    display: block;
    margin: 0% auto;
    border: 2px solid #ccc;
    float: left;
    width: 30%;
    position: center;
}

.gallery:hover {
    border: 2px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 25px;
    text-decoration: none;
    text-align: center;
}

.butt1 {
    display: visible;
}
/* popup */

.popup_close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 100%;
    background-color: red;
    z-index: 4;
    color: white;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.popup:target .popup_inner {
    bottom: 0;
    right: 0;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup_text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
    height: 100%;
    padding: 4rem;
}

.popup_text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    /* text-transform: uppercase; */
    color: #0a0a0a;
}

.popup_text p {
    font-size: 0.875rem;
    color: #686868;
    line-height: 1;
}

.popup_photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup_photo img {
    width: 100%;
    height: 100%;
}

.popup_inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 1500px;
    max-height: 800px;
    width: 70%;
    height: 80%;
    background-color: white;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

/* reset password */
.reset_password {
    margin: 0 auto;
}

/* Canvas */
#canvas {
    border-style: dashed;
}
a{
    text-decoration: none;
    color: #95E0E8;
    
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    /* background: transparent; */
    background-color: #808080;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    border: none;
}

.box h1 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-size: 40px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    height: 25px;
    font-size: 10px; 
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
}
.box h1{
    color: #fff;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 12pt;
    background: #50BFE6;
    padding-bottom: 10px;
}
#sign-up-form{
    color: #fff;
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    background-color: #808080;
    padding: 5%;
}
#sign-up-form input{
    width:  100%;
    height: 25px;
    border-radius: 5px;
    padding: 0.5%;
}
#sign-up-form input[type='submit']{
    color: #fff;
    font-size: 12pt;   
    background-color: #50BFE6;
}
#forgot-password{
    color: #fff;
}
#forgot-password input[type="submit"]{
    color: white;
    font-size: 12pt;
    background: #50BFE6;
    border-radius: 5px;
}
/* snap section */
.camera-section{
    float: left;
    width: 100%;
}
video {
    width: 48%;
    height: auto;
}
canvas {
    width: 48%;
    height: 50%;
}
#stickers{
    width: 100%;
    margin: 0% auto;
}
/* footer section */

hr {
    clear: both;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
}